:root {
  --black-code: #333;
  --violet-code: #8803d2;
  --white-code: #ffffff;
  --blue-code: #a54bd7;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--black-code);
  font-family: "Roboto", sans-serif;
}

.login-section,
.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Imágenes*/
.old-man {
  display: none;
}

.young-guy img {
  width: 180px;
}

.Google-login img {
  width: 40px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.Google-login {
  background-color: var(--black-code);
  border: none;
  cursor: pointer;
  align-self: center;
}

/*Formularios*/

.log-in {
  border: 1px solid var(--violet-code);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.log-in h1 {
  color: var(--white-code);
  margin: 0;
  margin-bottom: 2.5rem;
  text-align: center;
}

form input {
  display: block;
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: var(--white-code);
  border: 2px solid var(--violet-code);
  background-color: var(--black-code);
  border-radius: 5px;
  transition: all 0.5s;
}

form input:focus-visible {
  outline: var(--violet-code);
  box-shadow: 2px 2px 2px 0px var(--violet-code);
}

form button {
  background-color: var(--violet-code);
  color: var(--white-code);
  margin-bottom: 2rem;
  display: block;
  height: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px var(--violet-code);
  border: 2px solid #a54bd7;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 18px;
  width: 90%;
}

form button:hover {
  box-shadow: 2px 2px 2px 0px var(--violet-code);
  padding: 2px;
}

/*Elementos texto*/
#text-message {
  color: #18a0fb;
}

p {
  color: var(--white-code);
  margin: 0;
}

.log-in p {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p.or {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p.or::after {
  content: "";
  position: absolute;
  width: 40%;
  border-bottom: 2px solid #fff;
  bottom: 40%;
  left: 0;
}

p.or::before {
  content: "";
  position: absolute;
  width: 40%;
  border-bottom: 2px solid #fff;
  bottom: 40%;
  right: 0;
}

.error404 {
  color: #fff;
}

.new-account a {
  color: #18a0fb;
  display: block;
  text-decoration: none;
  text-align: center;
}

#message {
  margin: 0;
  margin-bottom: 1rem;
  color: #40a557;
  font-weight: bold;
  font-size: 20px;
}

#message.error {
  color: #fc1717;
}

/*Estilos Muro*/

/* Header */
.muro-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  position: relative;
  padding-top: 13rem;
  background-size: contain;
  background-image: url(images/onda.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.header-muro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #8803d2;
}

.user-name {
  font-size: 1.5rem;
  margin-left: 35px;
}

.log-out {
  background-color: var(--black-code);
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.log-out img {
  width: 50px;
}

.logo-long {
  display: none;
}
.formulario {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
#postBox {
  width: 80%;
  margin-bottom: 1rem;
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
  border: 2px solid #8803d2;
  font-family: "Roboto";
  padding: 1rem;
}
#postForm {
  position: sticky;
  top: 10%;
}

/* Sección de publicaciones */
.post-section {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
}

.post-container {
  border: 2px solid var(--violet-code);
  margin-bottom: 3rem;
}

.post-by {
  background-color: var(--violet-code);
  padding: 0.5rem 1rem;
}

.post-content {
  padding: 0.5rem 1rem;
}

/* Estilos botones de me gusta, editar y eliminar */

#btnPost {
  background-color: var(--violet-code);
  color: var(--white-code);
  margin-bottom: 2rem;
  display: block;
  height: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px var(--violet-code);
  border: 2px solid #a54bd7;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 18px;
  width: 90%;
}

.buttons-container {
  display: flex;
  background-color: #8803d2;
  padding: 0.5rem;
}

.edit-button,
.delete-button,
.like-button {
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-button,
.delete-button {
  display: none;
}

p.likesCounter {
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid;
  margin-left: 5px;
  margin-right: 5px;
}

.modal-confirm {
  display: none;
  width: 600px;
  border-radius: 20px;
  text-align: center;
  z-index: 10;
  background-color: #3d3b3b;
  height: 300px;
  position: absolute;
  top: 25%;
  right: 0;
  left: 30%;
}
.modal-confirm p {
  margin-top: 7rem;
}

button.cancel-delete {
  background-color: var(--violet-code);
  color: var(--white-code);
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px var(--violet-code);
  border: 2px solid #a54bd7;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 15px;
  width: 30%;
}
button.delete-confirm {
  background-color: var(--violet-code);
  color: var(--white-code);
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px var(--violet-code);
  border: 2px solid #a54bd7;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 15px;
  width: 30%;
  margin: 20px;
}
